[Desktop Entry]
Type=Application
Name=Melodex
Comment=Build thoughtful listening journeys from your music
Exec=melodex
TryExec=melodex
Icon=io.github.cliff_lee.Melodex
Terminal=false
StartupNotify=true
StartupWMClass=Melodex
Categories=AudioVideo;Player;Audio;
Keywords=music;audio;player;local;flow;
